@charset "UTF-8";
/************************ general styles *********************/
html {
    overflow: scroll;
}

.page-width,
.main-content .wrapper {
    max-width: 1200px !important;
}

.hand-cursor {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.opacity-to-1 {
    opacity: 1 !important;
}

.to-display {
    display: block !important;
}

/*************************** images **************************/
#imgs-div {
    position: relative;
}

.imgs {
    width: 100%;
}

#back-img {
    position: static;
}

#transition-img,
#deck-div img {
    position: absolute;
    top: 0;
    left: 0;
}

#transition-img {
    opacity: 0;
    transition: opacity 2s;
    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -o-transition: opacity 2s;
}

.picked-card {
    opacity: 0;
    transition: opacity 3s;
    -webkit-transition: opacity 3s;
    -moz-transition: opacity 3s;
    -o-transition: opacity 3s;
    transition-delay: 1s;
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
}

/************************** description **********************/
#desc-div {
    font-family: Rubik, helvetica-neue, helvetica, arial, sans-serif;
    color: #222;
    display: none;
    margin: 25px;
    text-align: left;
}
#desc-div h2 {
    font-size: 30px;
    text-transform: none !important;
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
}
#desc-div span {
    font-size: 19px;
    text-align: left;
}

.intro,
.message {
    display: block;
    margin-bottom: 15px;
}

/************************* action links **********************/
#shuffle-deck {
    display: none;
    background-color: #ff5f42;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    color: white;
    cursor: pointer;
    font-family: Rubik, helvetica-neue, helvetica, arial, sans-serif;
    font-size: 20px;
    padding: 12px 22px;
    font-weight: 500;
    border-radius: 3px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 auto;
}
#shuffle-deck:hover {
    opacity: 0.8 !important;
}